@font-face {
    font-family: "KiwiMaru";
    src: url("./fonts/KiwiMaru-Medium.ttf") format("truetype");
    src: url("./fonts/KiwiMaru-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto-Light.ttf") format("truetype");
}
    
.block_1 {
    position: absolute;
    bottom: 220px;
    left: 500px;
    max-width: 50%;
    font-family: "KiwiMaru";
    text-align: center;
    color:black;
    border: 7px solid black;
    margin: 10%;
    padding: 5px;
    background: rgb(40, 163, 35);
}

p {
    position: relative;
    left: 50px;
    top: 10px;
    border: 1px solid red;
    max-width: 85%;
    font-family: "Roboto";
    font-weight: lighter;
    font-style: normal;
    color: rgb(15, 7, 9);
    font-size: 100%;
}

.p1 {
    position: relative;
    left: 50px;
    bottom: -100px;
    max-width: 20%;
    background-color: navy;
    color: oldlace;
    border: 2px dotted black;
    font-family:"Roboto";
    font-weight: lighter;
    font-style: italic;
}

ul {
    position: sticky;
    max-width: 60%;
    border: 2px solid black;
    font-family: "Roboto";
    font-weight: normal;
    font-style: initial;
}
li.special {
    font-family: "KiwiMaru";
    font-weight: bold;
    color: darkblue;
}

a.link {
    color:navy;
}

a.visited {
    color: tomato;
}

.block_4 {
    position: relative;
    right: 150px;
    bottom: 100px;
    float: right;
    border: 1px solid;
    opacity: 80%;
}

.text {
    font-family: "KiwiMaru";
color: black;
font-weight: medium;
background-color: darkgrey;
}

th {
    font-family: "KiwiMaru";
    background-color: burlywood;
    width: 20%;
    border: 1px solid grey;
 }

 td {
     background-color: cadetblue;
     width: 30%;
    border: 1px solid grey;
 }

 img {
     float: left;
     position: relative;
     right: 0px;
     bottom: 50px;
     z-index: 3;
     max-width: 300px;
     opacity: 75%;
 }

 .block_6 p {
     border: black solid;
     color: black;
     max-width: 80%;
     background-color: darkgrey;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 20px;
     padding: 10px;
     margin: 10px;
 }

 .clearfix {
    overflow: auto;
  }
  
 